# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
from jupyter_client import kernelspec
spec = kernelspec.get_kernel_spec('PythonData')
print(spec.resource_dir)

C:\Users\mehro\AppData\Roaming\jupyter\kernels\pythondata

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [4]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("../vacation_search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,Igarka,RU,3.33,67.4667,86.5833,"Zapolyar'ye, Gostinitsa"
1,1,Mpanda,TZ,73.06,-6.3655,31.0409,CH Hotel - Mpanda
2,2,Dikson,RU,20.68,73.5069,80.5464,NaN
3,3,Albany,US,57.58,42.6001,-73.9662,NaN
4,4,Atuona,PF,77.54,-9.8000,-139.0333,Villa Enata

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [5]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [6]:
# Review the formatting template
info_box_template = """
Hotel Name
      {Hotel Name}
City
{City}
Country
{Country}
Max Temp
      {Max Temp} °F


"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [13]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[(vacation_df["City"] == "Findlay")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Findlay")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Huron")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Coshocton")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Worthington")]

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [14]:
start = vacation_start["Lat"].to_numpy(), vacation_start["Lng"].to_numpy()
end = vacation_end["Lat"].to_numpy(), vacation_end["Lng"].to_numpy()
stop1 = vacation_stop1["Lat"].to_numpy(), vacation_stop1["Lng"].to_numpy()
stop2 = vacation_stop2["Lat"].to_numpy(), vacation_stop2["Lng"].to_numpy()
stop3 = vacation_stop3["Lat"].to_numpy(), vacation_stop3["Lng"].to_numpy()
print(start, end, stop1, stop2, stop3)

(array([41.0442]), array([-83.6499])) (array([41.0442]), array([-83.6499])) (array([41.1501]), array([-82.5499])) (array([40.272]), array([-81.8596])) (array([40.0931]), array([-83.018]))

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [34]:
# Define a new figure object
# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
start = (41.0442,-83.6499 )
end = (41.0442,-83.6499 )
stop1 = (41.1501,-82.5499)
stop2 = (40.272, -81.8596)
stop3 = (40.0931, -83.018)

fig = gmaps.figure()
round_trip = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(round_trip)
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [16]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,515,Findlay,US,61.65,41.0442,-83.6499,Drury Inn & Suites Findlay
1,543,Huron,US,59.92,41.1501,-82.5499,Meadow Brook Mobile Estates
2,648,Coshocton,US,61.47,40.2720,-81.8596,Roscoe Motor Inn
3,502,Worthington,US,58.75,40.0931,-83.0180,Sheraton Suites Columbus Worthington

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [17]:
# Review the formatting template
info_box_template = """
City
{City}
Country
{Country}
Hotel Name
    {Hotel Name}
Max Temp
    {Max Temp} °F


"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [18]:
# Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(20, -90), zoom_level=5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))